<% layout('layout') %>

<% include ../navbar/navbar %>

<div class="container-fluid">

    <div class="col-md-8">

        <div class="index-content">
            <div class="container">
                <% for (var i = 0; i < products.length; i++) { %>
                    <a href="/product/<%= products[i]._id %>">
                        <div class="col-md-3">
                            <div class="card">
                                <img src="/MyImg/<%= products[i].thumbNailImg %>">
                                <h4><%= products[i].name %></h4>
                                <p><%= products[i].presentation %></p>
                                <!-- <a href="blog-ici.html" class="blue-button">Read More</a> -->
                                <p>Posted By: <%= products[i].user.username %></p>
                                <br>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
        
        <ul class="pagination text-center">
            <li>
                <% for(var i = 1; i <= pages; i++) { %>
                    <% if (i === 1)  {  %>
                        <li><a href="/ecommerce"><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/page/<%= i-1 %>"><%= i %></a></li>
                    <% } %>
                <% } %>
            </li>
        </ul>

    </div>
    <div class="col-md-4">
        <div class="row">

        </div>
    </div> 

</div>

<% include ../footer/avant-bad-de-page %>

<% include ../footer/bad-de-page %>

<% include ../footer/footer %>