<% layout('layout') %>

<% include ../navbar/navbar %>

<div class="container-fluid">

    <div class="col-md-8">

        <div class="index-content">
            <div class="container">

                <% arrayAverage = function(arr) {
                    return _.reduce(arr, (num1, num2) => {
                        return num1 + num2;
                    }, 0) / (arr.length === 0 ? 1 : arr.length);
                } %>

                <% for (var i = 0; i < products.length; i++) { %>

                    <% var total = arrayAverage(products[i].ratingNumber) %>

                    <a href="/product/<%= products[i]._id %>">
                        <div class="col-md-3">
                            <div class="card">
                                <img src="/uploads/<%= products[i].thumbNailImg %>">

                                <% if(products[i].onSale){ %>
                                    <div>
                                      Original Price :
                                      <span class="originalPrice" style="color: #9c0606; text-decoration: line-through;">
                                        $ <%= products[i].price %>
                                      </span>
                                    </div>
                                    <div>
                                      Sale Price :
                                      <span class="price sale" style="font-size: 140%; color: #0e6b0e;">
                                        $ <%= products[i].salePrice %>
                                      </span>
                                    </div>
                                <% } else { %>
                                    <div class="price" style="font-size: 140%; color: #0e6b0e;">
                                      $ <%= products[i].price %>
                                    </div>
                                <% } %>

                                <h4><%= products[i].name %></h4>
                                <p><%= products[i].presentation %></p>
                                <!-- <a href="blog-ici.html" class="blue-button">Read More</a> -->
                                <p>Posted By: <%= products[i].user.username %></p>
                                <p><%= products[i].viewcount %></p>
                                <p><%= moment(products[i].created).format('LL') %></p>
                                <br>
                            </div>
                            <span class="star" data-score="<%= total %>"></span> <%= total.toFixed(1) %> (<%= products[i].ratingNumber.length %>)
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
        
        <ul class="pagination text-center">
            <li>
                <% for(var i = 1; i <= pages; i++) { %>
                    <% if (i === 1)  {  %>
                        <li><a href="/ecommerce"><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/page/<%= i-1 %>"><%= i %></a></li>
                    <% } %>
                <% } %>
            </li>
        </ul>

    </div>
    <div class="col-md-4">
        <div class="row">

        </div>
    </div> 

</div>

<% include ../footer/avant-bad-de-page %>

<% include ../footer/bad-de-page %>

<% include ../footer/footer %>