<% layout('layout') %>

<% include ../navbar/navbar %>
<br>

<div class="container-fluid">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <img src="/uploads/<%= product.thumbNailImg %>" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <blockquote>
                    <p><%= product.name %></p>
                    <small>Posted by: <%= product.user.username %></small>
                </blockquote>
                <blockquote>
                    <p><%= product.category %></p>
                    <small><%= product.subcategory %></small>
                    <small><%= product.wilaya %></small>
                </blockquote>
                <blockquote>
                    <p>Presentation :</p>
                    <small><%= product.presentation %></small>
                </blockquote>
                <blockquote>
                    <p>Date d'ajout :</p>
                    <small><%= product.created %></small>
                </blockquote>
                <blockquote>
                    <p>Review Count :</p>
                    <small><%= product.reviews.length %></small>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    <p>Description :</p>
                    <small><%= product.description %>Nulla quis lorem ut libero malesuada feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</small>
                </blockquote>
                <blockquote>
                    <p>Prix: </p>
                    <small><%= product.price %></small>
                </blockquote>
                <blockquote>
                    <p>N° Telephone :</p>
                    <small><%= product.tel %></small>
                </blockquote>
                <blockquote>
                    <p>Count View :</p>
                    <small>(<%= product.viewcount %>)</small>
                </blockquote><blockquote>
                    <p>Average :</p>
                    <small><%= average %> ( <%= product.ratingNumber.length %> )</small>
                </blockquote>
            </div>
        </div>
    </div> 
    <div class="col-md-4">
        <a href="/product/<%= product.id %>/review">ecrire un commantaire</a>
    </div>
</div>

<br>

<div class="container">
    <% if( typeof product.reviews !== 'undefined' && product.reviews.length > 0 ){ %>
    <h2>Reviews</h2>        
    <% } %>

    <% product.reviews.forEach(function(review) { %>
        <div class="col-xs-12">
            <h3>
                <%= review.title %>
                <span class="starRating">
                    <% for(var i = 0; i < review.starRating; i++){ %>
                        &#xf005;
                    <% } %>
                </span>
            </h3>
            <p><%= review.description %></p>
            posted by: <p><%= review.user.username %> - <%= review.created %> -</p>
            <hr>
        </div>
    <% }) %>
</div>